{% extends 'main/Base.html'%}
{% block title %}{{pavadinimas}}{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
    img {
        border-radius: 3%;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .greeninput[type=submit] {
        width: 100%;
        background-color: #47c54b;
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .greeninput[type=submit]:hover {
        background-color: #2ac22f;
    }
    
    .redinput[type=submit] {
        width: 100%;
        background-color: #d34242;
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .redinput[type=submit]:hover {
        background-color: #cf2b2b;
    }
    
</style>

<form method="POST">
    {% csrf_token %}
    <div class="center">
        <br>
        <img style="margin-left:11em" src="https://i.imgur.com/5yZevY5.jpg" alt="Logo" width="850" height="420">
        <br><br><br>
        {% if user.is_authenticated %}
            <input class="greeninput" type="submit" style="font-size: 20px;" value="Atrinkimas" name="but" id="but">
            <input class="redinput" type="submit" style="font-size: 20px;" value="Atsijungti" name="but" id="but">
            {% else %}
                <input type="text" placeholder="Įveskite savo vardą" name="vardas" id="vardas" maxlength="255" required>
                <input class="greeninput" type="submit" value="Prisijungti" name="login" id="login">
        {% endif %}
    </div>
</form>
{% endblock %}