<style>
     .lygiavimasmain{
        display: grid;
        grid-template-columns:0.24fr 1fr 1fr 1fr 0fr;
        text-align: center;
        align-items: center;      
    }
    .kvadratas {
        width:400px;
        height:40px;
        border:3px solid #000;      
        border-radius: 5%;
        padding: 20px;
    }
   
</style>

<br>
<div class="lygiavimasmain">
    {% load index %}
    {% load samestr %}
    {% for i in "0"|ljust:ZmoniuListas.getKiekliste %}
        <h1></h1>
        {% if ZmoniuListas.getA|index:forloop.counter0 != "" %}
            {% if ZmoniuListas.getA|index:forloop.counter0|samestr:user.get_username %}
                <h1 class="kvadratas" style="color: #bd34d8;">{{ZmoniuListas.getA|index:forloop.counter0}}</h1>
            {% else %}
                <h1 class="kvadratas">{{ZmoniuListas.getA|index:forloop.counter0}}</h1>
            {% endif %}
        {% endif %}
        {% if ZmoniuListas.getB|index:forloop.counter0 != "" %}
            {% if ZmoniuListas.getB|index:forloop.counter0|samestr:user.get_username %}
                <h1 class="kvadratas" style="color: #bd34d8;">{{ZmoniuListas.getB|index:forloop.counter0}}</h1>
            {% else %}
                <h1 class="kvadratas">{{ZmoniuListas.getB|index:forloop.counter0}}</h1>
            {% endif %}
        {% endif %}
        {% if ZmoniuListas.getC|index:forloop.counter0 != "" %}           
            {% if ZmoniuListas.getC|index:forloop.counter0|samestr:user.get_username %}
                    <h1 class="kvadratas" style="color: #bd34d8;">{{ZmoniuListas.getC|index:forloop.counter0}}</h1>
                {% else %}
                    <h1 class="kvadratas">{{ZmoniuListas.getC|index:forloop.counter0}}</h1>
                {% endif %}
        {% endif %}
        <h1></h1>
    {% endfor %} 
</div>
<br><hr>


