{% extends 'main/Base.html'%}
{% block title %}{{pavadinimas}}{% endblock %}
{% block content %}
<style>   
    .zodziulygiavimasmain{
        font-size: 40px;
        display: grid;
        grid-template-columns: 0.6fr 1.6fr 1.6fr 0.2fr;
        text-align: center;
        align-items: center;      
    }  
    .greentext{
        color: #6de930;
        text-shadow: 2px 2px 0px #000000;
    }
    .scroll-left {
        height: 50px;	
        overflow: hidden;
        position: relative;
        background: rgb(105, 105, 105);
        color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
    }
    .scroll-left p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        transform:translateX(100%);
        /* Apply animation to this element */
        animation: scroll-left 20s linear infinite;
    }
    /* Move it (define the animation) */
    @keyframes scroll-left {
        0%   {
            transform: translateX(100%); 		
        }
        100% {
            transform: translateX(-100%); 
        }
    }
    
    .sizedebug{
        border:3px solid #000;      
        border-radius: 5%;
        padding: 20px;
    }
</style>

{% include 'main/PrisijungusiuListas.html' %}

<div class="scroll-left">
    <p>{{Zinute}}</p>
</div>

{% if user.is_authenticated %}
<br><br><br><br><br>
<div class="zodziulygiavimasmain">
    <h1></h1>
    <h1 style="text-align: right">Jums buvo išrinkta:&nbsp </h1>
    <h1 class="greentext" style="text-align: left">{{ User.pora }}</h1>
    <h1></h1>   
</div>
<br><br><br><br><br>
{% endif %}
{% endblock %}